# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias (NUNCA subir esto)
node_modules/
dist/
dist-ssr/
*.local

# Variables de entorno (CRÍTICO)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor / SO
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporales propios
playground/
tmp_*/ .env
 .env
